<font size = 7> <b>Functions, types, loops assignment</b></font>

# Review of accessing operations

## Exercise 1

Add a line of code that will generate the give output::
 
     In [ ]: a_list = [2,7,8, 19]
             YOUR CODE HERE
     Out [ ]: 2
     
NOTE: The idea of this kind of exercise is to write a line of code
that will produce the given output, 2 in this case.  Your
answer goes in the next cell, which is a code cell.  It should this be an
expression that operates on `a_list`.  A simple correct answer is:

     In [ ]: a_list = [2,7,8, 19]
             a_list[0]
     Out [ ]: 2
     
Don't forget to evaluate the cell after you've written in your answer to generate Python's output and check your answer!

In [1]:
a_list = [2,7,8, 19]

In [ ]:
[write your answer here]

##
 Exercise 2

  Write a line of code that produces the given output::
   
    In [ ]: a_list = ['sid','nancy','paul','ringo']
             YOUR CODE HERE
    Out [ ]: 'paul'

In [2]:
a_list = ['sid','nancy','paul','ringo']

In [ ]:
[Write your answer here]

## Exercise 3

 Write a line of code that produces the given output: 
   
     In [ ]: a_list = ['sid','nancy','paul','ringo']
           YOUR CODE HERE
     Out [ ]: ['nancy','paul']

In [ ]:
a_list = ['sid','nancy','paul','ringo']
#Write your answer below this

# Loops

## Exercise 4

Write a line of code that produces the given output: 

```
In [ ]: a_list = ['sid','nancy','paul','ringo']
        YOUR CODE HERE
Out [ ]: ['Sid','Nancy','Paul','Ringo']
```

Here are some hints.  It;s easy to capitalize a string.

In [1]:
'sid'.title()

'Sid'

But `.title()` is a method on strings, and it won't work on lists:

In [ ]:
a_list = ['sid','nancy','paul','ringo']
a_list.title()

AttributeError: ignored

Nevertheless, each element of the list `a_list` is a `string` and `.title()` will do exactly what we want if it is applied to each element in the list.  So you need a **loop** that will apply `.title()` to each element in the list and collect the results.

If you're not using a list comprehension as your loop, try an answer with this format.  Insert a `for`-loop where it says "#Your code below here"

In [ ]:
a_list = ['sid','nancy','paul','ringo']
new_list = []
# Your code below here
new_list

['Sid', 'Nancy', 'Paul', 'Ringo']

If you are using a list comprehension, your answer will have this format.

In [ ]:
a_list = ['sid','nancy','paul','ringo']
#Your list comprehension code below here inside the square brackets
new_list = [ ]
new_list

[]

If you need help, here is a little discussion.
    
Hint #1: This is an ideal case in which to use a list comprehension.

Hint #2:  THe iteration operation, the thing you are going to do to each member of `a_list` is to use the `title()` method on strings, as illustrated here:

In [ ]:
'this string'.title()

'This String'

Looping though a list is easy.

In [6]:
print(a_list)
for b in a_list:
    print(b)

['sid', 'nancy', 'paul', 'ringo']
sid
nancy
paul
ringo

## Reversing a list

Write a line of code that produces the given output: 

```
In [ ]: a_list = ['sid','nancy','paul','ringo']
        YOUR CODE HERE
Out [ ]: ['Ringo', 'Paul', 'Nancy', 'Sid']
```
    
Hint: Try combining a list comprehension with a list reversal

In [ ]:
Y = a_list.reverse()
a_list

['ringo', 'paul', 'nancy', 'sid']

In [ ]:
X = 'abcdefghijklmnopqrstuvwxyz'
X[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [ ]:
a_list = ['sid','nancy','paul','ringo']
# Your code below here
new_list = []
for x in a_list:
    # Your code here replacing continue
    continue
new_list

[]

# Boolean tests

## Exercise 4A

Write a line of code that will return True when applied to X:

    In [ ]: X = 'ringo'
            YOUR CODE GOES HERE
    Out [ ]: True

Write a line of code that will return False when applied to X:

    In [ ]: X = 'ringo'
            YOUR CODE GOES HERE
    Out [ ]: False

In [ ]:
X = 'ringo'
# Your code below here.

## If-else statements

# Exercise 4B

Write an `if-else` statement (4 lines of code) that will print "Branch 1" for the first value of X; then test *the same if-else statement* again on the second value of X and have it print "branch2" for the second value of X::
    
    In [ ]:  X = 'ringo'
             YOUR IF-ELSE STATEMENT GOES HERE
             X = 'paul'
             COPY & PASTE THE IF-ELSE STATEMENT HERE
    Out [ ]: Branch 1
             Branch 2

In [ ]:
X = 'ringo'
if len(X) > 4:
    print('Branch 1')
else:
    print('Branch 2')
X = 'paul'
if len(X) > 4:
    print('Branch 1')
else:
    print('Branch 2')

Branch 1
Branch 2

Write a **function** that prints `Branch 1` when applied to `Ringo` and `Branch 2` when applied to `Paul`.  Use the same conditional you used above.

Create a new cell and **test** your function in the new cell.

In [ ]:
#Your answer goes here
def branch_test (name_str):
    pass # replace this pass with your conditional, appropriately modified.

## Exercise 5

 Write a line of code that produces the given output: 
   
     In [ ]: a_list = ['john','paul','nancy','sid']
           YOUR CODE HERE
     Out [ ]: [True, True, False, False]
  
 [Hint:  Try a list comprehension that collects
  a list of the results of a Boolean test]

In [ ]:
a_list = ['john','paul','nancy','sid']
new_list = []
# Your code here
new_list

[True, True, False, False]

In [ ]:
# Your list comprehension code below, inside the square brackets
new_list = [ ]
new_list

[]

## Exercise 6

Write a `for` loop that collects all the numbers in `test_list`
that are between 3 and 6 inclusive and places them
in a list named `result`.

In the cell below you are given a list  to work on and an initial value for the list `result`,
which you will update in your `for` loop.  The cell also eveluates `result` after the
loop to check that the value is right::

    In [ ]: test_list = [2, 7, 9, 4, 8, 3, 2, 6, 3, 5, 9, 18, 0, 5]
            result = []
            YOUR CODE GOES HERE
            result
     Out [ ]: [4,3,6,3,5,5]
                         


Note  This can be done as a list comprehension and you
are welcome to do it that way.

In [ ]:
test_list = [2, 7, 9, 4, 8, 3, 2, 6, 3, 5, 9, 18, 0, 5]
result = []
# Your code below here
result

[4, 3, 6, 3, 5, 5]

## Exercise 7

Now, using the same definition of `test_list`
as in exercise 6, write a `for` loop that **counts**
the number of integers in `test_list` that are between 3 and 6 inclusive
and  places the result in a variable named `tweeners`.
You can do this by just taking the length
of the list you computed in exercise 6, but try to do
it without building that list.  Just start with `tweeners`
set to 0 and increment its value by one each time you see an appropriate number.  The value of the variable after the loop is exited should be 6.

In [ ]:
test_list = [2, 7, 9, 4, 8, 3, 2, 6, 3, 5, 9, 18, 0, 5]

tweeners = 0
for num in test_list:
    if (3 <= num) and (num <= 6):
        tweeners += 1
# YOur loop here
tweeners

6

## Exercise 8

Now, write loop that computes the frequencies of the letters in `"abracadabra"`.  The frequencies should be
kept in a dictionary that has letters as keys and integers as values. After the counting code is executed,
the dictionary should look like this:

```
{'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1}
```

Hint:  Your  answer will use a loop and will contain a line that is equivalent to this:

```
   counter_dict[letter] = counter_dict[letter] + 1
```

The problem is that the dictionary needs to start out empty; the expression on the right hand
hand side of the `=` will raise a `KeyError` on an an empty dictionary, so this can't be what
you always do.

Inside the loop, you need to structure your code something like this:

```
    if [test to see if letter is not a key in the dictionary]:
       # Start letter off with count 1
       counter_dict[letter] = 1
     else:
       # the usual counting code
```
    
Do not use the `Counter` class from the Python `collections` module to solve this problem, even
though though that makes it easier.  The goal here is to get you writing loops.

In [5]:
test_str = 'abracadabra'

# Start with an empty dictionary
counter_dict = dict()

for letter in test_str:
    # Your code here (will be more than one line)

## Exercise 9

Filter  any items which occur
less than 2 times in a sequence of items. The sequence can be a
string, or tuple, or list.  You can use the following sequence
as an example:

```
   X = 'abracadabra'
```
Hint: Solve this problem in two parts.  First get all the needed counts and place them in a dictionary
using the code from the previous exercise. (Or you can if you like use a `Counter`, in which case 
it will be helpful to review our discussion of Counters in [the book draft section on dictionaries](http://gawron.sdsu.edu/python_for_ss/course_core/book_draft/Python_introduction/dictionaries.html#python-collections-module). 

Either you can then use counter dictionary you compute
to filter the letters in `"abracadabra"` with counts below 2.

In [3]:
from collections import Counter
X = 'abracadabra'
# Your code here

## Exercise 10

Write a function that returns the first element of any sequence.  It is fine if it is an error to pass in a dictionary or a set.  Here are some examples of how it should work:

```
>>> first('william')
'w'
>>> first(['X', [0,1], ('a','b')])
'X'
```

Hint:  If you're having trouble getting this behavior, maybe you forgot
about `return`?

In [29]:
def first(seq):
  # Your code here

# Exercise 10a

Your most likely solution to the previous problem behaves like this:

```
>>> first('')
IndexError                                Traceback (most recent call last)
...
IndexError: string index out of range
```

Fix your function so that it behaves likes this (you will have to write the
`print` command issuing the warning yourself)

```
>>> first('')
**Warning**: Empty sequence passed to first
```

In [13]:
first('')

**Warning**: Empty sequence passed to first

## Exercise 11

Write a function that creates a palindrome from any sequence.  Here is how it should  work:

```
    In [ ]: x = palindrome('ohno')
    Out [ ]: 'ohnoonho' 
```

Hint:  You can reverse any sequence `Seq` with `Seq[::-1]`.

In [22]:

# Your code here

There is a very simple Python idiom for this using `*`, but it can also be done with `+`.

# Exercise 12

Modify the palindrome function of Exercise 11 so that it has an optional middle string which
is used as the center of the palindrome. Here are examples of how it should behave:

```
In [ ]: x = palindrome('ohno')     # Same as before, but we are checking for the optionality of the new arg
Out [ ]: 'ohnoonho' 

In [ ]: x = palindrome('madam', 'i')
Out [ ]: 'madamimadam'

In [ ]: x = palindrome('mada', 'mim')     
Out [ ]: 'madamimadam'

In [ ]: x = palindrome(L0 ='mada', center ='mim')     
Out [ ]: 'madamimadam'

In [ ]: x = palindrome(center ='mim', L0 ='mada')     
Out [ ]: 'madamimadam'

```

Hint:  For help with optional arguments and default values (which is what you need to worry about
here), see [VanderPlas Whirlwind Tour of Python, Chap 8.](https://github.com/jakevdp/WhirlwindTourOfPython/blob/master/Index.ipynb)

In [ ]:
# Your code here

## For loops: Sudoku problem

Just execute the code cell below.  We need it for the discussion and exercises that follow.

In [16]:
def cross(A, B):
    "Cross product of elements in A and elements in B."
    return [a+b for a in A for b in B]


digits   = '123456789'
rows     = 'ABCDEFGHI'
cols     = digits
squares  = cross(rows, cols)
unitlist = ([cross(rows, c) for c in cols] +
            [cross(r, cols) for r in rows] +
            [cross(rs, cs) for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')])

# Assign to each square s A set of sets of squares
units = dict((s, [u for u in unitlist if s in u])
             for s in squares)
## Assign to each square s a set of squares, namely those that cant have the same value as s.
peers = dict((s, set(sum(units[s],[]))-set([s]))
             for s in squares)

# Turn a puzzle string into a dictionary.
def grid_values(grid):
    "Convert grid into a dict of {square: char} with '0' or '.' for empties."
    chars = [c for c in grid if c in digits or c in '0.']
    assert len(chars) == 81
    return dict(list(zip(squares, chars)))

def simple_grid_values (grid):
    "Convert grid into a dict of {square: char} with no restriction on contents"
    assert len(grid) == 81
    return dict(list(zip(squares, grid)))
  
################ Display as 2-D grid ################

def display(values):
    "Display these values as a 2-D grid."
    for s in squares:
        if values[s] == '0':
            values[s] = '.'
    width = 1+max(len(values[s]) for s in squares)
    line = '+'.join(['-'*(width*3)]*3)
    for r in rows:
        print(''.join(values[r+c].center(width)+('|' if c in '36' else '')
                      for c in cols))
        if r in 'CF': print(line)
    print()


grid1  = '003020600900305001001806400008102900700000008006708200002609500800203009005010300'
grid1_soln = '483921657967345821251876493548132976729564138136798245372689514814253769695417382'
grid2  = '003020600900305001001806400008102900700000008006708200002689500800203009005010300'
# Some illegal grids.
grid3  = '003020600900305001001806400008102900700000008006708200002609500800203089005010300'
grid4  = '003020609900305001001806400008102900700000008006708200002609500800203009005010300'
grid5  = '003020600900305061001806400008102900700000008006708200002609500800203009005010300'
g5_peers = peers['G5']
sgv = simple_grid_values(squares)
for s in g5_peers:
    sgv[s] = '__'

The code above defines the row labels in a Sudoku puzzle  in a variable `rows`. Write a `for`-loop that prints out the row labels in a Sudoku puzzle, one to a line.

In [ ]:
[your code here]

The code above defines the columns labels in a Sudoku puzzle  in a variable `cols`. Write a `for`-loop that prints out the column labels in a Sudoku puzzle.

In [ ]:
[your code here]

The code above defines the squares in a Sudoku puzzle  in a variable `squares`. Write a `for`-loop that prints out the squares in a Sudoku puzzle, one to a line.

In [ ]:
[your code here]

We can also treat the sequence of square names like a puzzle abd display that, if we want to remind ourselves what names go with what squares.

In [ ]:
display(simple_grid_values(squares))

 A1 A2 A3| A4 A5 A6| A7 A8 A9
 B1 B2 B3| B4 B5 B6| B7 B8 B9
 C1 C2 C3| C4 C5 C6| C7 C8 C9
---------+---------+---------
 D1 D2 D3| D4 D5 D6| D7 D8 D9
 E1 E2 E3| E4 E5 E6| E7 E8 E9
 F1 F2 F3| F4 F5 F6| F7 F8 F9
---------+---------+---------
 G1 G2 G3| G4 G5 G6| G7 G8 G9
 H1 H2 H3| H4 H5 H6| H7 H8 H9
 I1 I2 I3| I4 I5 I6| I7 I8 I9

For `grid1`, we were given not just the grid but also its solution, so  we can display the two side by side.

In [ ]:
display(grid_values(grid1))
print('     ... => ...')
print()
display(grid_values(grid1_soln))

. . 3 |. 2 . |6 . .
9 . . |3 . 5 |. . 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. . 9
. . 5 |. 1 . |3 . .

     ... => ...

4 8 3 |9 2 1 |6 5 7
9 6 7 |3 4 5 |8 2 1
2 5 1 |8 7 6 |4 9 3
------+------+------
5 4 8 |1 3 2 |9 7 6
7 2 9 |5 6 4 |1 3 8
1 3 6 |7 9 8 |2 4 5
------+------+------
3 7 2 |6 8 9 |5 1 4
8 1 4 |2 5 3 |7 6 9
6 9 5 |4 1 7 |3 8 2

In [ ]:
display(sgv)

 A1 A2 A3| A4 __ A6| A7 A8 A9
 B1 B2 B3| B4 __ B6| B7 B8 B9
 C1 C2 C3| C4 __ C6| C7 C8 C9
---------+---------+---------
 D1 D2 D3| D4 __ D6| D7 D8 D9
 E1 E2 E3| E4 __ E6| E7 E8 E9
 F1 F2 F3| F4 __ F6| F7 F8 F9
---------+---------+---------
 __ __ __| __ G5 __| __ __ __
 H1 H2 H3| __ __ __| H7 H8 H9
 I1 I2 I3| __ __ __| I7 I8 I9

The peers of any cell are the squares which cannot have the same value as the cell.  The peers of `G5` are shown above.  There are 20 distinct peers.  The cells in row 'G', the cells in column '5' and the cells in the same box
as 'G5'.

The `peers` dictionary has been defined so that the key is a square and the value is a complete list of the peers.

In [ ]:
peers['G5']

{'A5',
 'B5',
 'C5',
 'D5',
 'E5',
 'F5',
 'G1',
 'G2',
 'G3',
 'G4',
 'G6',
 'G7',
 'G8',
 'G9',
 'H4',
 'H5',
 'H6',
 'I4',
 'I5',
 'I6'}

In the first code cell in this section, we defined a sudoku puzzle grid we called grid1. grid1 is a legal grid, as we can see by displaying it.

In [ ]:
display(grid_values(grid1))

Here are some more girds displayed.

In [ ]:
display(grid_values(grid3))

In [ ]:
display(grid_values(grid4))

If you look carefully at `grid5` you will see it differs from `grid1` in an important way.

In [ ]:
display(grid_values(grid5))

. . 3 |. 2 . |6 . .
9 . . |3 . 5 |. 6 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. . 9
. . 5 |. 1 . |3 . .

The grid `grid5` is not a legal Sudoku grid.  Can you see the problem?  Now look at `grid2` and `grid3`.  Are they legal?   There are two cells in the same box with same value.

In [21]:
grid_dict5 = grid_values(grid5)  #. Change the string `grid5` into a dictionary
grid_dict5['A7']

'6'

In [19]:
grid_dict5['B8']

'6'

Your assignment is to write a function that will print out `Invalid` if the grid that is
passed in as an argument is illegal and will print out `Valid` if the grid is legal.  It should work as follows:

```
def test(grid):
     Your code goes here

test(grid_values(grid1))
test(grid_values(grid2))
test(grid_values(grid3))
test(grid_values(grid4))
test(grid_values(grid5))
```

When you finish your code and execute the lines above, the following should print out:

```
   Valid!
   Valid!
   Invalid!
   Invalid!
   Invalid!
```

One thing to think about is what test you will use to find out that a square is valid/invalid. Another thing to think about is
where in your code the two distinct `print` statements will go. You can't print 'Valid!' when you've seen one valid square.  You have to wait until all the squares have been proven valid.  Does it work exactly the same for 'Invalid!'? You can't print 'Invalid!'  when you've only seen one invalid square?

**Warning One**.  The following bit of Python is not a test for invalidity:

```
'B8'  == 'A7'
```

Why not?

**Warning Two**.  Don't do

```
grid5[`B8`]  == grid5[`A7`]
```

We want:

In [20]:
grid_dict5 = grid_values(grid5)
grid_dict5['B8']  == grid_dict5['A7']  #Dictionary rep provides easy lookup of grid values!

True