# Functions, types, loops assignment

## Exercise 1

Add a line of code that will generate the give output::
 
     In [ ]: a_list = [2,7,8, 19]
             YOUR CODE HERE
     Out [ ]: 2
     
NOTE: The idea of this kind of exercise is to write a line of code
that will produce the given output, 2 in this case.  Your
answer goes in the next cell, which is a code cell.  It should this be an
expression that operates on `a_list`.  A simple correct answer is:

     In [ ]: a_list = [2,7,8, 19]
             a_list[0]
     Out [ ]: 2
     
Don't forget to evaluate the cell after you've written in your answer to generate Python's output and check your answer!

In [ ]:
a_list = [2,7,8, 19]
a_list[0]

2

## Exercise 2

  Write a line of code that produces the given output.  Use a splice with a "steps" component.
   
    In [ ]: X = 'abcdefghij'
             YOUR CODE HERE
    Out [ ]: 'acegi'

In [47]:
X  = 'abcdefghij'
X[::2]

'acegi'

## Exercise 3

 Write a line of code that produces the given output: 
   
     In [ ]: S, T = set('abc'), set('cde')
           YOUR CODE HERE
     Out [ ]: {'c'}

Hint.  Each Python type has its own methods.  For instance, strings have a `.title()` method that capitalizes them.  For this problem use a method that is particular to **sets** on the two sets `S` and `T`.  Look
at [Van DerPlas's Whirlwind Tour, Ch. 6](https://github.com/jakevdp/WhirlwindTourOfPython/blob/6f1daf714fe52a8dde6a288674ba46a7feed8816/06-Built-in-Data-Structures.ipynb) for a nice discussion of set methods.

In [49]:
 S, T = set('abc'), set('cde')

In [ ]:
S & T

{'c'}

In [ ]:
S, T  # JMG unchanged

({'a', 'b', 'c'}, {'c', 'd', 'e'})

In [ ]:
S.intersection(T)   # Alternative solution

{'c'}

Althoguh close, this doesnt quite work.

In [50]:
print(S.intersection_update(T))  # None returned

None

In [5]:
S  # S changed, 2 lines of code needed

{'c'}

In [9]:
T

{'c', 'd', 'e'}

In [54]:
L = list('abc')
L.append('d')

In [55]:
L

['a', 'b', 'c', 'd']

In [56]:
L  + ['e']

['a', 'b', 'c', 'd', 'e']

In [57]:
L

['a', 'b', 'c', 'd']

## Exercise 4

 Write a line of code that produces the given output: 
   
     In [ ]: a_list = [2,7,8, 19]
           YOUR CODE HERE
     Out [ ]: [22,27,28,39]
    
Hint: Try a list comprehension. Look at [Whirlwind Tour](https://github.com/jakevdp/WhirlwindTourOfPython/blob/6f1daf714fe52a8dde6a288674ba46a7feed8816/11-List-Comprehensions.ipynb) for a quick review of list comprehensions.

In [10]:
a_list = [2,7,8, 19]
[x + 20 for x in a_list]

[22, 27, 28, 39]

In [58]:
a_list = [2,7,8, 8]

{x + 20 for x in a_list}

{22, 27, 28}

In [59]:
set([x + 20 for x in a_list])

{22, 27, 28}

In [60]:
{x: x + 20 for x in a_list}

{2: 22, 7: 27, 8: 28}

## Exercise 5

Write a line of code that produces the given output.

Hint Remember that list comprehensions can also be used as filters. Look at [Whirlwind Tour](https://github.com/jakevdp/WhirlwindTourOfPython/blob/6f1daf714fe52a8dde6a288674ba46a7feed8816/11-List-Comprehensions.ipynb) for a quick review of list comprehensions.

```
In [ ]: a_list = [2,7,8, 19]
In [ ]: # Your code           
Out [ ]: [22,27]
 ```

In [ ]:
a_list = [2,7,8, 19]

In [11]:
[x + 20 for x in a_list if x < 8]  # if clauxde is the FILTER

[22, 27]

This solution does not use the list comprehension as a filter.  THie feliering is done with the splice `a_list[:2]`.

In [ ]:
# YOUR CODE GOES UNDER HERE
[x + 20 for x in a_list[:2]]

[22, 27]

## Exercise 6

Write a function that finds all the consonants in a string.  As a help, the list of vowels is given below.  The beginning
of the function definition has been given with a `pass` as the body.  

It should work as in the following examples.

```
>>> find_consonants('baker')
'bkr'
>>> find_consonants('abracadabra')
'brcdbr'
>>> find_consonants('mississippi is the place for me')
'mssssppsthplcfrm'
```

As the argument of the function, use the name that has been supplied.
Replace the `pass` with the correct definition of the function.

For those interested in more of a challenge, you may add 'sometimes y' to the list of vowels. The letter `'y'` is a vowel in "Mary" and "Plymouth" and "play", but not in "youth".

In [7]:
vowels = 'aeiou'
nonconsonants = 'aeiou '

def find_consonants_almost(string):
    return ''.join([x for x in string if x not in vowels])

def find_consonants(string):
    return ''.join([x for x in string if x not in nonconsonants])

In [65]:
''.join(list('abc'))

'abc'

In [18]:
find_consonants('baker')

'bkr'

In [19]:
find_consonants('abracadabra')

'brcdbr'

In [61]:
find_consonants_almost('mississippi is the place for me')

'msssspp s th plc fr m'

In [62]:
find_consonants('mississippi is the place for me')

'mssssppsthplcfrm'

JMG:  Your  first version does not work correctly on

```
'mississippi is the place for me'
```

Your second version does `print(string)` but should do `return string`.  Note the quotation marks in the example outputs  above, which your outputs lack.

In [ ]:
find_consonants('baker')

bkr

In [ ]:
find_consonants('abracadabra')

brcdbr

In [ ]:
find_consonants('mississippi is the place for me')

mssssppsthplcfrm

The following solution is correct but not preferred because strong concatenation is notoriously slow in python.

In [6]:
def find_consonants_slow(st):
  new_string = ""
  for i in st:
    if i not in vowels:
      new_string = new_string + i
   
  return new_string

In [66]:
find_consonants_slow('abracadabra')

'brcdbr'

In [23]:
# Version with "y"
def find_consonants_sometimes_y(string):
    nonconsonants_y = 'aeiouy '
    rest = [x for x in string[1:] if x not in nonconsonants_y]
    first = [y for y in string[0] if y not in nonconsonants]
    return ''.join(first + rest)

print(find_consonants_sometimes_y('mississippi is the place for me'))
print(find_consonants_sometimes_y('abracadra'))
print(find_consonants_sometimes_y('yard'))
print(find_consonants_sometimes_y('play'))

mssssppsthplcfrm
brcdr
yrd
pl

## Exercise 7

 Write a line of code that operates on `XX` and produces the given output: 
   
     In [ ]: XX = 'bad good sad happy'
           YOUR CODE HERE
     Out [ ]: [True, False, True, False]
  
 Hint:  Try a list comprehension that collects
  a list of the results of a Boolean test.  But remember that the elements of a string
  are characters.  You can turn `XX` into a list of length 4 with a simple operation 
  discussed in the python_types_nb.

In [67]:
XX = 'bad good sad happy' 
# Your code here
x = XX.split(" ") 
[len(i) == 3 for i in x]

[True, False, True, False]

In [68]:
XX = 'bad good  sad   happy' 
x = XX.split(" ") 
print(x)
y = XX.split()
print(y)

['bad', 'good', '', 'sad', '', '', 'happy']
['bad', 'good', 'sad', 'happy']

## Exercise 8

You're having a big party.

The guests will be boys and girls.   The lists are defined for you in the next cell.

You want to make sure there are enough dance partners and that they are all compatible.  Write a single list comprehension that will compute every possible pairing of a boy with a girl.  

Hint The list the list comprehension builds will be a list of pairs.

In [28]:
boys = 'Huey Fred Jason Ed Albert Louie'.split()
girls = 'Susan Paula Barbara Felicia'.split()
# Your code here
[(x,y) for x in boys for y in girls]

[('Huey', 'Susan'),
 ('Huey', 'Paula'),
 ('Huey', 'Barbara'),
 ('Huey', 'Felicia'),
 ('Fred', 'Susan'),
 ('Fred', 'Paula'),
 ('Fred', 'Barbara'),
 ('Fred', 'Felicia'),
 ('Jason', 'Susan'),
 ('Jason', 'Paula'),
 ('Jason', 'Barbara'),
 ('Jason', 'Felicia'),
 ('Ed', 'Susan'),
 ('Ed', 'Paula'),
 ('Ed', 'Barbara'),
 ('Ed', 'Felicia'),
 ('Albert', 'Susan'),
 ('Albert', 'Paula'),
 ('Albert', 'Barbara'),
 ('Albert', 'Felicia'),
 ('Louie', 'Susan'),
 ('Louie', 'Paula'),
 ('Louie', 'Barbara'),
 ('Louie', 'Felicia')]

## Exercise 9

You suddenly remember that boys don't always dance with girls and girls don't always dance with boys.
And there are people who are neither who are also guests at the party.  You compile a list of neithers.  

Using the `boys` and `girls` lists from the last problem and the `neither` list below,
write another list comprehension that finds **all** the possible dance partners, that is
every pair of guests at the party, regardless of whether they are boys or girls or neither.
But remember: people can't dance with themselves.  

If your final list has 169 members, people are dancing with themselves.

If your final list has 156 members, it's because you have both ('Huey', 'Fred') and ('Fred', 'Huey') as possible dance partners. This is a bug.  They are just one happy couple.
One way to fix this is do a set comprehension but then the final set you collect can't
just be a set of two-member tuples or you'll have 156 of them.

Another way to fix this is with `enumerate` as shown in the function-nb notebook.

The correct answer has 78 dance couples.

In [69]:
neither = 'Lee Sam Kim'.split()
# Your code here
boys = 'Huey Fred Jason Ed Albert Louie'.split()
girls = 'Susan Paula Barbara Felicia'.split()
all_dancers = neither + boys + girls # combine lists

L = [(x,y) for (i,x) in enumerate(all_dancers) for y in all_dancers[i+1:]]
len(L)

78

In [31]:
[(i,x) for (i,x) in enumerate(all_dancers)]

[(0, 'Lee'),
 (1, 'Sam'),
 (2, 'Kim'),
 (3, 'Huey'),
 (4, 'Fred'),
 (5, 'Jason'),
 (6, 'Ed'),
 (7, 'Albert'),
 (8, 'Louie'),
 (9, 'Susan'),
 (10, 'Paula'),
 (11, 'Barbara'),
 (12, 'Felicia')]

An equivalent, less efficient solution.

There is a cost to the comparison operation (using `<`). The difference is minimal for string comparison of short strings, which is what we have here. It might be a difference story if we were comparing DNA strings (strings millions of characters long).

In [32]:
L2 = [(x, y) for x in all_dancers for y in all_dancers if x < y]
len(L2)

78

Timing difference demonstration (results will vary from machine to machine):

In [70]:
import time

def time_function (N, f, *args):
    s = time.time()
    # Run it many times to minimize the chance of resource fluctuation
    for i in range(N):
        f(*args)
    e = time.time()
    d = e - s
    print('{0:.3f} secs'.format(d))
    return d

#. Notice the use of `lambda` here and think about why it's necessary.
f1 = lambda : [(x,y) for (i,x) in enumerate(all_dancers) for y in all_dancers[i+1:]]
f2 = lambda : [(x, y) for x in all_dancers for y in all_dancers if x < y]
N = 1000000 # Run each code chunk 1 million times.

d1 = time_function(N, f1)
d2 = time_function(N, f2)


# Variant that also works.  Note use of all_dancers in lambda, how time_function is called
#f1 = lambda all_dancers : [(x,y) for (i,x) in enumerate(all_dancers) for y in all_dancers[i+1:]]
#f2 = lambda all_dancers: [(x, y) for x in all_dancers for y in all_dancers if x < y]
#N = 1000000 # Run each code chunk 1 million times.

#d1 = time_function(N, f1, all_dancers)
#d2 = time_function(N, f2, all_dancers)



print(f'Process 1 was {(d2-d1)/d1:.2%} faster')

7.481 secs
9.901 secs
Process 1 was 32.35% faster

In [71]:
time.time()

1602114295.757462

In [72]:
time.time()

1602114307.878399

Another example using functions defined earlier in this NB

In [73]:
# Cooking up long test string
test_str = 'mississippi is the place for me'  * 10
d1 = time_function(N, find_consonants, test_str)
d2 = time_function(N, find_consonants_slow, test_str)
print(f'Process 1 was {(d2-d1)/d1:.2%} faster')

16.646 secs
21.615 secs
Process 1 was 29.85% faster

## Exercise 9

Write a **function** that return `True` for any  integer that has a remainder of 1 when divided by 3, and `False` for all other integers.  It should return nothing (`None`) for non integers.  It's okay to have an error for non numbers.

Here is how it should  work:

```
>>> print(remainder_one(2))
False
>>> print(remainder_one(16))
True
>>> print(remainder_one(16.1))
None
>>> remainder_one(16.1)
```

In [41]:
16 % 3

1

A lot of you did something like one of the two following functions.

In [77]:
type(True), type(False), type(None)

(bool, bool, NoneType)

In [78]:

def wrong_remainder_one_a (x):
    if type(x) == int and x % 3 == 1:
      return "True"
    elif type(x) == int and x % 3 != 1:
      return "False"
    else:
      return None
        
def wrong_remainder_one_b (x):
    if type(x) == int and x % 3 == 1:
      print(True)
    elif type(x) == int and x % 3 != 1:
      print(False)
    else:
      print(None)

In [80]:
x = wrong_remainder_one_b(4)
print(x)

True
None

There are two separate issues illustrated by the `a` and `b` functions.
What you return and whether you print something or return something.

Issue one (the `a` function):  The intention was that you should return `True` or `False`, which  are builtin names in Python which have type `Boolean`.   Notice there are no string quotes. That's because none are needed.

In [44]:
type(True),type(False)

(bool, bool)

In [ ]:
False

False

In [81]:
if False:
    print("It's a lie!")
elif True:
    print("It's true!")

It's true!

These are the values returned by Boolean tests.

In [82]:
(2 == 2)

True

In [83]:
(2 == 3)

False

In [84]:
X = (2 == 3)
X

False

So the following code is equivalent to the if branch above:

In [85]:
if 2 == 3:
    print("It's a lie!")
elif 2 == 2:
    print("It's really true!")

It's really true!

The problem with writing a function that returns `"True"` and `"False"` instead of `True` and `False` is that it
will have unexpected behavior when used a Boolean test.

Consider an example that should return `False` and watch what happens with the example that instead returns
`"False"`.

In [86]:
if wrong_remainder_one_a(5):
    print("It doesn't")
elif wrong_remainder_one_a(4):
    print("It has a remainder of one")

It doesn't

Why is the wrong print statement firing?  Especially since our function works exactly as planned!

In [87]:
wrong_remainder_one_a(5)

'False'

The problem is that any non-empty string counts as `True` in a Boolean test context.
[Boolean results](https://gawron.sdsu.edu/python_for_ss/course_core/book_draft/programming_intro/boolean_results.html)

The string `"False"` is non-empty, so when it is cast into a Boolean (= interpreted as a Boolean)  in a Boolean test context, it is cast as `True`.

The moral:  when requested to write a function that returns `True` and `False`,  return the Boolean Python
expressions.

Issue Two:  You're printing something rather than returning something.

The instructions ruled this possibility out.  First of all a function that
just prints messages and has no `return` statements in it returns neither `True`
nor `False`; it always returns `None`.  Once again, this function will not function
as expected in a Boolean test context:

In [88]:
if wrong_remainder_one_b(5):
    print("It has a remainder of one")
elif wrong_remainder_one_b(4):
    print("It doesn't")

False
True

It satisfies neither Boolean test, since it always returns `None` (which casts as Boolean `False`). Therefore
**neither** of the messages is printed out. 

Meanwhile it intrusively printing out its conclusions about every example it's called on.  

But the writer of a piece of code like the one above probably just wants to print his own print messages.   In general it is not a good idea to sprinkle your code with lots of print messages  (except possibly when debugging).  They're generally hard to interpret when used in larger code blocks (like the messages above) unless you know the exact code context they're coming from.  So the default way to write a function is to **return** something (not **print** it) that precisely captures the information that the function is computing.

Note: to rigorously **test** what a function returns, set a variable to its value and do an `==` test:
Then we see the contrast between what's wanted and what it does for both our flawed answers.

In [55]:
x = wrong_remainder_one_a(4)
x == True

False

In [ ]:
x = wrong_remainder_one_b(4)
x == True

True

False

So what we want is something along the lines of:

In [ ]:
def remainder_one (x):
    if isinstance(x, int):
      if x%3 == 1:
       return True 
      else:
       return False
    else:
      return None

But this is equivalent to a surprisingly simple alternative.

Check out the next cell..

In [ ]:

def remainder_one(x):
    if isinstance(x, int):
        return (x % 3)  == 1

In [26]:
Res = 'x' < 'y'
Res

True

In [31]:
type(False),type(True)

(bool, bool)

In [32]:
type(None)

NoneType

This completely satisfies all the directions:

**Write a function that returns `True` for any  integer that has a remainder of 1 when divided by 3, and `False` for all other integers.  It should return nothing (`None`) for non integers.  It's okay to have an error for non numbers.**

The idea of the function above is to just return the result of the Boolean test (`True` or
`False`) in the appropriate circumstances.   What are the appropriate circumstances?  Well, according to the specs, when `x` is an integer, and that's what the `if`-clause checks.

What about when `x` is not a integer?  There is no `return` statement covering that case.  What that means is that
when `x` is not an integer, the function will return `None`, and that is exactly what the directions
call for. 

This is actually a very typical way of writing a Boolean test function.  We often have three cases we have to deal with, a two-way branch (do X in case A and Y in case Y), and a whole slew of cases not of interest (do nothing). It is very natural to use Python's builtin distinction between `True`, `False` and `None` to  classify the cases.

Demonstrating all the examples

In [ ]:
remainder_one(2)

False

In [ ]:
remainder_one(16)

True

In [ ]:
remainder_one(16.1)

In [ ]:
result = remainder_one(16.1)
result == None

True

## Exercise 10

Write a function that converts temperatures (as
numbers) from Fahrenheit to Celsius scale. The temperature should be
optional and its default value should be 32.  Here are some examples showing
how you **call** the `fahrenheit-to_celsius` function and what it returns:

```
    In [ ]:  fahrenheit_to_celsius(212)
    Out [ ]: 100
    In [ ]: fahrenheit_to_celsius(-40)
    Out [ ]: -40.0
    In [ ]:  fahrenheit_to_celsius(32)
    Out [ ]: 0
    In [ ]:  fahrenheit_to_celsius()
    Out [ ]: 0    
```

Please include a cell printing out your validation tests to show you have checked your work (which of course you **always** do).   
To create new cells to demonstrate all the examples, you hold down the `[Control]` key while pressing `M` and then typing `b` (for "below").

In [38]:
def fahrenheit_to_celsius(f = 32):
    #return [your answer goes here
    return (f - 32) * 5/9

In [34]:
fahrenheit_to_celsius(212)

100.0

In [35]:
fahrenheit_to_celsius(-40)

-40.0

In [36]:
fahrenheit_to_celsius(32)

0.0

In [37]:
fahrenheit_to_celsius()

0.0

## Exercise 11

Write a function that can compute the difference between two temperatures.  Assume the
input temperatures are Fahrenheit and the output temperatures are Celsius. You should take the differences in Celsus, as shown in the examples below.   Your
definition should **call** the `fahrenheit_to_celsius`  function you defined in the previous problem, so **don't** just copy and paste the code from there.  Assume the first argument is obligatory and then the second argument is optional.  When the second argument is omitted, just return the result of converting the first argument to Celsius.
Show that you have checked your work, using all of the following examples.

Here is how the function should work:

```
    In [ ]:  fahrenheit_to_celsius_diff(212,32)
    Out [ ]: 100
    In [ ]: fahrenheit_to_celsius_diff(-40, 212)
    Out [ ]: -140.0
    In [ ]:  fahrenheit_to_celsius_diff(212)
    Out [ ]: 100
    In [ ]:  fahrenheit_to_celsius_diff(212, 0)
    Out [ ]: 117.78

```

Some of you couuldnt get this problem right because of the way you solved the last one.

This bug is illustrated in `buggy_fahrenheit_to_celsius_diff` below.  If you defined 
`fahrenheit_to_celsius` to print numerical values instead of returning them, you can't do
arithmetic with the result of `fahrenheit_to_celsius`.

In [89]:
def fahrenheit_to_celsius_diff(x, y = 32):
    x_cel = fahrenheit_to_celsius(x)
    y_cel = fahrenheit_to_celsius(y)
    return x_cel - y_cel
 
def bogus_fahrenheit_to_celsius(f = 32):
    #return [your answer goes here
    print((f - 32) * 5/9)
    
def buggy_fahrenheit_to_celsius_diff(x, y = 32):
    x_cel = bogus_fahrenheit_to_celsius(x)
    y_cel = bogus_fahrenheit_to_celsius(y)
    return x_cel - y_cel

In [90]:
buggy_fahrenheit_to_celsius_diff(212, 32)

100.0
0.0

TypeError: unsupported operand type(s) for -: 'NoneType' and 'NoneType'

In [42]:
fahrenheit_to_celsius_diff(212,32)

100.0

In [ ]:
fahrenheit_to_celsius_diff(-40, 212)

-140.0

In [ ]:
fahrenheit_to_celsius_diff(212)

100.0

In [ ]:
fahrenheit_to_celsius_diff(212, 0)

117.77777777777777

SyntaxError: 'return' outside function (<ipython-input-43-11933160dcdf>, line 1)

## Sudoku:  More list comprehension

This is the dreaded blank page problem I promised you at the beginning of the course.

You are essentially beging asked to write a non-trivial function from scratch.  I try below to give you some hints, so try to read through the material.  It will be of help, especiaslly if you (a) are new to Sudoku; or (b) new to Python or to programming.

For this exercise, execute the code below; we will use it, but only briefly discuss how it works.

In [91]:
def cross(A, B):
    "Cross product of elements in A and elements in B."
    return [a+b for a in A for b in B]


digits   = '123456789'
rows     = 'ABCDEFGHI'
cols     = digits
squares  = cross(rows, cols)
unitlist = ([cross(rows, c) for c in cols] +
            [cross(r, cols) for r in rows] +
            [cross(rs, cs) for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')])

# Assign to each square s A set of sets of squares
units = dict((s, [u for u in unitlist if s in u])
             for s in squares)
## Assign to each square s a set of squares, namely those that cant have the same value as s.
peers = dict((s, set(sum(units[s],[]))-set([s]))
             for s in squares)

# Turn a puzzle string into a dictionary.
def grid_values(grid):
    "Convert grid into a dict of {square: char} with '0' or '.' for empties."
    chars = [c for c in grid if c in digits or c in '0.']
    assert len(chars) == 81
    return dict(list(zip(squares, chars)))

def simple_grid_values (grid):
    "Convert grid into a dict of {square: char} with no restriction on contents"
    assert len(grid) == 81
    return dict(list(zip(squares, grid)))
  
################ Display as 2-D grid ################

def display(values):
    """Display these values as a 2-D grid. 
    
    Repeat a string `S` `n` times by using `S * 3`.
    """
    # This loop: convert 0's to something less visually prominent (`.`)
    for s in squares:
        if values[s] == '0':
            values[s] = '.'
    # Choos the width of a cell in the grid by finding the widest square name
    width = 1+max(len(values[s]) for s in squares)
    # Cook up a filler line ('-'s interrupted by '+'s) to be used to mark boxes
    line = '+'.join(['-'*(width*3)]*3)
    for r in rows:
        print(''.join(values[r+c].center(width)+('|' if c in '36' else '')
                      for c in cols))
        # Every third row, print filler line following row contents.
        if r in 'CF': print(line)
    print()

##############################################################################################
#  S o m e    D a t a    t o    P r a c t i c e     O n
##############################################################################################
grid1  = '003020600900305001001806400008102900700000008006708200002609500800203009005010300'
grid1_soln = '483921657967345821251876493548132976729564138136798245372689514814253769695417382'
grid2  = '003020600900305001001806400008102900700000008006708200002689500800203009005010300'
# Some illegal grids (they break the rules of Sudoku)
grid3  = '003020600900305001001806400008102900700000008006708200002609500800203089005010300'
grid4  = '003020609900305001001806400008102900700000008006708200002609500800203009005010300'
grid5  = '003020600900305061001806400008102900700000008006708200002609500800203009005010300'
g5_peers = peers['G5']
sgv = simple_grid_values(squares)
for s in g5_peers:
    sgv[s] = '__'

First some preliminaries, introducing the idea of a sudoku puzzle, for those who've never tried one.  According to Norvig:

>A Sudoku puzzle is a grid of 81 squares; the majority of enthusiasts label the columns 1-9, the rows A-I [as in the grid below].

The grid below introduces **names** for the 81 squares in a grid.

In [ ]:
display(simple_grid_values(squares))

 A1 A2 A3| A4 A5 A6| A7 A8 A9
 B1 B2 B3| B4 B5 B6| B7 B8 B9
 C1 C2 C3| C4 C5 C6| C7 C8 C9
---------+---------+---------
 D1 D2 D3| D4 D5 D6| D7 D8 D9
 E1 E2 E3| E4 E5 E6| E7 E8 E9
 F1 F2 F3| F4 F5 F6| F7 F8 F9
---------+---------+---------
 G1 G2 G3| G4 G5 G6| G7 G8 G9
 H1 H2 H3| H4 H5 H6| H7 H8 H9
 I1 I2 I3| I4 I5 I6| I7 I8 I9

Also according to Norvig
>A collection of nine squares (column, row, or box) is called a **unit** and the squares that share a unit the **peers**. A puzzle leaves some squares blank and fills others with digits, and the whole idea is: A puzzle is solved if the squares in each unit are filled with a permutation of the digits 1 to 9.

Thus in each unit of a solved puzzle, all the digits must appear, and no duplications are allowed. The next square shows a puzzle, and below that its unique solution.

In [ ]:
display(grid_values(grid1))
print('     ... => ...')
print()
display(grid_values(  grid1_soln))

. . 3 |. 2 . |6 . .
9 . . |3 . 5 |. . 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. . 9
. . 5 |. 1 . |3 . .

     ... => ...

4 8 3 |9 2 1 |6 5 7
9 6 7 |3 4 5 |8 2 1
2 5 1 |8 7 6 |4 9 3
------+------+------
5 4 8 |1 3 2 |9 7 6
7 2 9 |5 6 4 |1 3 8
1 3 6 |7 9 8 |2 4 5
------+------+------
3 7 2 |6 8 9 |5 1 4
8 1 4 |2 5 3 |7 6 9
6 9 5 |4 1 7 |3 8 2

According to Norvig's terminology, the *peers* of a square are the squares in the same column, or the same row, or the same box.  The peers of `G5` are show below as unfilled boxes:

In [ ]:
display(sgv)

 A1 A2 A3| A4 __ A6| A7 A8 A9
 B1 B2 B3| B4 __ B6| B7 B8 B9
 C1 C2 C3| C4 __ C6| C7 C8 C9
---------+---------+---------
 D1 D2 D3| D4 __ D6| D7 D8 D9
 E1 E2 E3| E4 __ E6| E7 E8 E9
 F1 F2 F3| F4 __ F6| F7 F8 F9
---------+---------+---------
 __ __ __| __ G5 __| __ __ __
 H1 H2 H3| __ __ __| H7 H8 H9
 I1 I2 I3| __ __ __| I7 I8 I9

As the example shows, a square S has 20 peers.  There are 
16 from S's row and column;  in principle there are 8 squares from the 9-square box S is in but 4 of those already count as peers in virtue of being in the same row or column as S.  So 20 distinct peers.

The cell below contains a small extract of the code used in Peter Norvig's sudoku solver, which is discussed in the section of the online book devoted to list comprehensions.  After the code is executed the name `squares` contains the names of the 81 legal squares in a Sudoku game.

The code below is a simplified subset of the code defined above.  This code is redundant with the code above,  THe reason it;'s here is that it's slightly simpler than that code and understanding this part of the code will help you complete this exercise.  You should make sure you understand how it works.

In [15]:
def cross(A, B):
    """
    Cross product of elements in sequence A and elements in sequence B. 
    When a and b are strings, we just concatenate them.
    """
    return [a+b for a in A for b in B]


digits   = '123456789'
rows     = 'ABCDEFGHI'
cols     = digits
squares  = cross(rows, cols)
unitlist = ([cross(rows, c) for c in cols] +
            [cross(r, cols) for r in rows] +
            [cross(rs, cs) for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')])

# Assign to each square s A set of sets of squares
units = dict((s, [u for u in unitlist if s in u])
             for s in squares)
## Assign to each square s a set of squares, namely those that cant have the same value as s.
peers = dict((s, set(sum(units[s],[]))-set([s]))
             for s in squares)


def grid_values(grid):
    "Convert grid into a dict of {square: char} with '0' or '.' for empties."
    chars = [c for c in grid if c in digits or c in '0.']
    assert len(chars) == 81
    return dict(list(zip(squares, chars)))

digits   = '123456789'
rows     = 'ABCDEFGHI'
cols     = digits
squares  = cross(rows, cols)
unitlist = ([cross(rows, c) for c in cols] +
            [cross(r, cols) for r in rows] +
            [cross(rs, cs) for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')])

# Assign to each square s A set of sets of squares
units = dict((s, [u for u in unitlist if s in u])
             for s in squares)
## Assign to each square s a set of squares, namely those that cant have the same value as s.
peers = dict((s, set(sum(units[s],[]))-set([s]))
             for s in squares)

##############################################################################################
#  S o m e    D a t a    t o    P r a c t i c e     O n
##############################################################################################
grid1  = '003020600900305001001806400008102900700000008006708200002609500800203009005010300'
grid1_soln = '483921657967345821251876493548132976729564138136798245372689514814253769695417382'
grid2  = '003020600900305001001806400008102900700000008006708200002689500800203009005010300'
# Some illegal grids (they break the rules of Sudoku)
grid3  = '003020600900305001001806400008102900700000008006708200002609500800203089005010300'
grid4  = '003020609900305001001806400008102900700000008006708200002609500800203009005010300'
grid5  = '003020600900305061001806400008102900700000008006708200002609500800203009005010300'

The name `units` contains a dictionary, which contains square names as keys.  For any square `s`, `units[s]` is the three groups of squares that contain `s`'s peers.
So `units['H8']` contains column 8, row H, and the box in the lower right hand part of the puzzle to which square `H8` belongs:

In [ ]:
units['H8']

[['A8', 'B8', 'C8', 'D8', 'E8', 'F8', 'G8', 'H8', 'I8'],
 ['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8', 'H9'],
 ['G7', 'G8', 'G9', 'H7', 'H8', 'H9', 'I7', 'I8', 'I9']]

`peers` is a dictionary which is a little more convenient to use for this assignment. For each square `S`, `peers[S]` is the set of squares that cannot contain the same value as `S`.
For example:

In [ ]:
peers['H8']

{'A8',
 'B8',
 'C8',
 'D8',
 'E8',
 'F8',
 'G7',
 'G8',
 'G9',
 'H1',
 'H2',
 'H3',
 'H4',
 'H5',
 'H6',
 'H7',
 'H9',
 'I7',
 'I8',
 'I9'}

`peers["H8"]` is computed just by unioning together the three sets of squares in `units[H8]` and removing `H8`.  We use sets to remove duplicates, so `peers["H8"]` contains exactly 20 squares.

In the first code cell in this section, we defined a sudoku puzzle grid we called `grid1`.  `grid1` is a legal grid, as we can see by displaying  it.

In [ ]:
display(grid_values(grid1))

. . 3 |. 2 . |6 . .
9 . . |3 . 5 |. . 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. . 9
. . 5 |. 1 . |3 . .

It will be useful to keep in mind something the `display` functions does.  `grid1` is s string.  `grid_values` converts that string into a dictionary, and `display` only works on the dictionary representation.  In solving this problem, you will find it convenient to work with the dictionary representation of a puzzle, just as the `display` function does.

In [ ]:
print(grid1)
print(grid_values(grid1))

003020600900305001001806400008102900700000008006708200002609500800203009005010300
{'A1': '0', 'A2': '0', 'A3': '3', 'A4': '0', 'A5': '2', 'A6': '0', 'A7': '6', 'A8': '0', 'A9': '0', 'B1': '9', 'B2': '0', 'B3': '0', 'B4': '3', 'B5': '0', 'B6': '5', 'B7': '0', 'B8': '0', 'B9': '1', 'C1': '0', 'C2': '0', 'C3': '1', 'C4': '8', 'C5': '0', 'C6': '6', 'C7': '4', 'C8': '0', 'C9': '0', 'D1': '0', 'D2': '0', 'D3': '8', 'D4': '1', 'D5': '0', 'D6': '2', 'D7': '9', 'D8': '0', 'D9': '0', 'E1': '7', 'E2': '0', 'E3': '0', 'E4': '0', 'E5': '0', 'E6': '0', 'E7': '0', 'E8': '0', 'E9': '8', 'F1': '0', 'F2': '0', 'F3': '6', 'F4': '7', 'F5': '0', 'F6': '8', 'F7': '2', 'F8': '0', 'F9': '0', 'G1': '0', 'G2': '0', 'G3': '2', 'G4': '6', 'G5': '0', 'G6': '9', 'G7': '5', 'G8': '0', 'G9': '0', 'H1': '8', 'H2': '0', 'H3': '0', 'H4': '2', 'H5': '0', 'H6': '3', 'H7': '0', 'H8': '0', 'H9': '9', 'I1': '0', 'I2': '0', 'I3': '5', 'I4': '0', 'I5': '1', 'I6': '0', 'I7': '3', 'I8': '0', 'I9': '0'}

`grid2` Is the same as `grid1` but we have added an `8` to row `G`. `grid2` is also a legal grid.

In [ ]:
display(grid_values(grid2))

. . 3 |. 2 . |6 . .
9 . . |3 . 5 |. . 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 8 9 |5 . .
8 . . |2 . 3 |. . 9
. . 5 |. 1 . |3 . .

However `grid3` is illegal.  There are 2 8's in row `H`.

In [ ]:
display(grid_values(grid3))

. . 3 |. 2 . |6 . .
9 . . |3 . 5 |. . 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. 8 9
. . 5 |. 1 . |3 . .

`grid4` is also illegal.  There are 2 9's in the last column.

In [ ]:
display(grid_values(grid4))

. . 3 |. 2 . |6 . 9
9 . . |3 . 5 |. . 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. . 9
. . 5 |. 1 . |3 . .

`grid5` is illegal because there are two 6's in the upper right hand box.

In [ ]:
display(grid_values(grid5))

. . 3 |. 2 . |6 . .
9 . . |3 . 5 |. 6 1
. . 1 |8 . 6 |4 . .
------+------+------
. . 8 |1 . 2 |9 . .
7 . . |. . . |. . 8
. . 6 |7 . 8 |2 . .
------+------+------
. . 2 |6 . 9 |5 . .
8 . . |2 . 3 |. . 9
. . 5 |. 1 . |3 . .

Your assignment is to write a function that will print out `Invalid` if the grid that is
passed in as an argument is illegal and will print out `Valid` if the grid is legal.  It should work as follows:

```
test(grid_values(grid1))
test(grid_values(grid2))
test(grid_values(grid3))
test(grid_values(grid4))
test(grid_values(grid5))
```

When you finish your code and execute the lines above, the following should print out:

```
   Valid!
   Valid!
   Invalid!
   Invalid!
   Invalid!
```

### Some hints

1.  The way to test if a grid is valid is to check each unit in `unitlist` to see if 
    any of the squares in that unit have duplicates.  There are 27 units to check,
    9 rows, 9 columns, and 9 boxes.  
    
    So your code will begin
        
    ```
    def test(grid):
        for u in unitlist:
            [your code checking if the filled squares in u contain any duplicates]
    ```

                 
2.  Keep in mind that `grid` is a dictionary whose keys are names of
    squares (strings) and whose values are the numbers filling the squares.  You will be
    checking on the equality of **values**.  The way to  get the value of a square `s` is
    `grid[s]`.  If your code never mentions `grid`, there's something seriously wrong.
 
3.  So now your code begins:
    
       ```
        def test(grid):
               for u in units:
                    vals = [your code for getting all the VALUES of the FILLED squares in u]
                    if [your test that vals contains any duplicates]:
                        [your code for what to do.  You've just discovered the grid is invalid!]
       ```
    The reason it says the values of the FILLED squares is that you need to ignore blank squares.  
    So in collecting the values of the squares in `u` (line beginning `vals =`) you need to filter out the 
    blank squares. You can assume a blank square contains the **string** `"0"`, so your test is that square is filled is that its value is **not** equal to `"0"`.  The Python test for checking that `X` is not  equal to `Y` is
    
        ```
        X != Y
        ```
        
    This evaluates to `True` when `X` and `Y` are not equal.  In sum, the line beginning `vals =` can be
    a simple list comprehension which loops through the squares of `u` collecting values and filtering out empty squares.
    
    Checking that a list of things contains no duplicates can send you down rabbitholes. That's not
    really the purpose of this exercise.  As a hint to one way to do this,  consider that `set(L)`
    will remove the duplicates of `L`.  Now use that fact to write a line of Python that tests 
    whether `L` has duplicates.

4.  The way to print 'Invalid!' only once once you have found a bad square
    is to print it and stop executing the function at once after you print. That can be 
    done as follows:
    
       ```
       print ("Invalid!")
       return
       ```
5.  You also need to print("Valid!") when you are finally sure the grid is valid.  You are being
    left to figure how to strategically place that `print` command so that it only executes
    when appropriate.

Retrieving the value of a square:

In [ ]:
pdict = grid_values(grid5)
pdict['A3']

'3'

Retrieving the value of an empty square:

In [ ]:
pdict['A1']

'0'

In [ ]:
grid_dict1 = grid_values(grid1)
grid_dict2 = grid_values(grid2)
grid_dict3 = grid_values(grid3)
grid_dict4 = grid_values(grid4)
grid_dict5 = grid_values(grid5)

Complexity of the two solutions

In [93]:
unitlist[0]

['A1', 'B1', 'C1', 'D1', 'E1', 'F1', 'G1', 'H1', 'I1']

In [65]:
3**7, 81 * 20

(2187, 1620)

In [94]:
# loop through each unit.  check for duplicates.  27 * 81 = 3^7
def test(grid):
    for u in unitlist:
        # vals = [your code for getting all the VALUES of the FILLED squares in u]
        vals = [grid[s] for s in u if grid[s] != '0']
        # [your test that vals contains any duplicates]:
        if len(vals) != len(set(vals)):
            # [your code for what to do.  You've just discovered the grid is invalid!]
            print("Invalid!")
            return
    print("Valid!")

Here is the cell to use to test your code.  Note:  It's just as important that your function prints
'Valid!' for valid grids as it is that it prints 'Invalid!' for invalid ones.

In [95]:
pdict1 = grid_values(grid1)  # Valid
pdict2 = grid_values(grid2)  # Valid
pdict3 = grid_values(grid3)  # Invalid
pdict4 = grid_values(grid4)  # Invalid
pdict5 = grid_values(grid5)  # Invalid
test(pdict1)
test(pdict2)
test(pdict3)
test(pdict4)
test(pdict5)

Valid!
Valid!
Invalid!
Invalid!
Invalid!

Alterbatove solution (loop through each square, check peers) [81 * 20]

In [63]:
def test(grid):
  for s in squares:
    val = grid[s]
    peer_values = [grid[p] for p in peers[s] if grid[p] != '0']
    if val != '0' and val in peer_values:
      print ("Invalid!")
      return
  
  print("Valid!")
  return