# Numpy Pandas Quiz

Name:

ID:

# Preliminaries

In [1]:
# The usual preamble
import pandas as pd
import numpy as np

For the duration of this quiz, assume that pandas has been imported
as `pd` and numpy as `np`, as in the cell above.

In [2]:
names2000 = pd.read_csv('names/yob2000.txt',
                        names=['name','sex','births'])

Next assume that `names2000` is the result of the above read command.

## Selecting columns and rows

In the next cell, write down what type of Python object `names2000` is after the cell
above has been executed.

In the next cell, write an expression selecting the `sex` column of  `names2000`.

In the next cell wrte an expression that retrieves the fourth through the sixth row of the `birth` column of `names2000` (keeping in mind that the second row is indexed 1).

## Selecting multiple columns

What if we just want to know the names and the birth counts, but not the gender? Pandas makes it really easy to select a subset of the columns. Write an expression that returns the subtable of the `names2000` dataframe that contains just the `names` and the `births` columns.

When you executed the expression that showed you the subtable, it just showed you a summary.  Write an expression that just returns the first 18 rows of the subtable.

# Numpy

In [5]:
import numpy as np
x = np.array([4,3,1,0])
y = np.arange(5)
z = 2 * x

Write expressions in the next cell to retrieve 0 from `x`, 4 from `y`, and 6 from `z`.

In the next cell, write an expression that generates a 3 by 4 array filled with zeros, and another  that generates a 3 by 1 array filled with ones.

<style>
    @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
    }
    div.cell{
        width:800px;
        margin-left:16% !important;
        margin-right:auto;
    }
    h1 {
        font-family: Helvetica, serif;
    }
    h4{
        margin-top:12px;
        margin-bottom: 3px;
       }
    div.text_cell_render{
        font-family: Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        line-height: 145%;
        font-size: 130%;
        width:800px;
        margin-left:auto;
        margin-right:auto;
    }
    .CodeMirror{
            font-family: "Source Code Pro", source-code-pro,Consolas, monospace;
    }
    .text_cell_render h5 {
        font-weight: 300;
        font-size: 22pt;
        color: #4057A1;
        font-style: italic;
        margin-bottom: .5em;
        margin-top: 0.5em;
        display: block;
    }
    
    .warning{
        color: rgb( 240, 20, 20 )
        }

In the next cell, write an expression that uses an assignment to a splice to make all the even values in `a` be 1.  Attention: This can be done more easily in numpy than it can in normal Python.  See if you can do it the easy way.

In [6]:
a = np.arange(1,5)

In the next cell write an expression that produces an array containing result of adding 3 to each of the first 5 integers (1 - 5). There's a hard way to do this and an easy way.  The easy way uses elementwise operations.