## Selecting parts of Pandas data frame

We create a Pandas data frame with babynames data.  We focus on how to select data.   For much more detailed background on Pandas data structures, see http://pandas.pydata.org/pandas-docs/dev/dsintro.html.

Let's cook up a bunch of 3 letter codes to label some data with.  The choice is fairly arbitrary.
We're just going to use them to label some data.

In [1]:
from string import lowercase
codes = [x + y + z for x in lowercase for y in lowercase for z in lowercase]

In [2]:
import pandas as pd
names1881 = pd.read_csv('names/yob1881.txt',names=['name','sex','births'])
names1881

            name sex  births
0           Mary   F    6919
1           Anna   F    2698
2           Emma   F    2034
3      Elizabeth   F    1852
4       Margaret   F    1658
5         Minnie   F    1653
6            Ida   F    1439
7          Annie   F    1326
8         Bertha   F    1324
9          Alice   F    1308
10         Clara   F    1242
11         Sarah   F    1226
12          Ella   F    1148
13        Nellie   F    1096
14         Grace   F    1089
15      Florence   F    1046
16        Martha   F    1044
17          Cora   F     969
18         Laura   F     962
19        Carrie   F     958
20         Maude   F     923
21        Bessie   F     903
22         Mabel   F     893
23      Gertrude   F     791
24         Ethel   F     788
25        Jennie   F     784
26         Edith   F     778
27        Hattie   F     775
28        Mattie   F     754
29         Julia   F     737
...          ...  ..     ...
1905      Mercer   M       5
1906       Monte   M       5
1907  Montgomery   M       5
1908       Nolan   M       5
1909        Okey   M       5
1910       Orley   M       5
1911        Page   M       5
1912       Philo   M       5
1913      Primus   M       5
1914     Prosper   M       5
1915       Pryor   M       5
1916        Rene   M       5
1917       Robin   M       5
1918        Roll   M       5
1919     Rolland   M       5
1920      Seward   M       5
1921     Shannon   M       5
1922     Talmage   M       5
1923       Urban   M       5
1924      Vaughn   M       5
1925      Verner   M       5
1926     Waverly   M       5
1927     Webster   M       5
1928      Weldon   M       5
1929       Wells   M       5
1930      Wiliam   M       5
1931      Wilton   M       5
1932        Wing   M       5
1933        Wood   M       5
1934      Wright   M       5

[1935 rows x 3 columns]

Notice the rows are indexed with numbers.  We could if we wished assign an arbitrary set of code names to the rows,
and sequence of strings of the right length.  Here's a silly choice.

In [3]:
from string import lowercase
codes = [x + y + z for x in lowercase for y in lowercase for z in lowercase]
names1881.index = codes[:1935]

In [4]:
names1881

           name sex  births
aaa        Mary   F    6919
aab        Anna   F    2698
aac        Emma   F    2034
aad   Elizabeth   F    1852
aae    Margaret   F    1658
aaf      Minnie   F    1653
aag         Ida   F    1439
aah       Annie   F    1326
aai      Bertha   F    1324
aaj       Alice   F    1308
aak       Clara   F    1242
aal       Sarah   F    1226
aam        Ella   F    1148
aan      Nellie   F    1096
aao       Grace   F    1089
aap    Florence   F    1046
aaq      Martha   F    1044
aar        Cora   F     969
aas       Laura   F     962
aat      Carrie   F     958
aau       Maude   F     923
aav      Bessie   F     903
aaw       Mabel   F     893
aax    Gertrude   F     791
aay       Ethel   F     788
aaz      Jennie   F     784
aba       Edith   F     778
abb      Hattie   F     775
abc      Mattie   F     754
abd       Julia   F     737
..          ...  ..     ...
cvh      Mercer   M       5
cvi       Monte   M       5
cvj  Montgomery   M       5
cvk       Nolan   M       5
cvl        Okey   M       5
cvm       Orley   M       5
cvn        Page   M       5
cvo       Philo   M       5
cvp      Primus   M       5
cvq     Prosper   M       5
cvr       Pryor   M       5
cvs        Rene   M       5
cvt       Robin   M       5
cvu        Roll   M       5
cvv     Rolland   M       5
cvw      Seward   M       5
cvx     Shannon   M       5
cvy     Talmage   M       5
cvz       Urban   M       5
cwa      Vaughn   M       5
cwb      Verner   M       5
cwc     Waverly   M       5
cwd     Webster   M       5
cwe      Weldon   M       5
cwf       Wells   M       5
cwg      Wiliam   M       5
cwh      Wilton   M       5
cwi        Wing   M       5
cwj        Wood   M       5
cwk      Wright   M       5

[1935 rows x 3 columns]

The first ten columns.  Note the type is still a data frame, just a smaller one.

In [5]:
print type(names1881[:10])
names1881[:10]

<class 'pandas.core.frame.DataFrame'>

          name sex  births
aaa       Mary   F    6919
aab       Anna   F    2698
aac       Emma   F    2034
aad  Elizabeth   F    1852
aae   Margaret   F    1658
aaf     Minnie   F    1653
aag        Ida   F    1439
aah      Annie   F    1326
aai     Bertha   F    1324
aaj      Alice   F    1308

Retrieve the column with the gender values, and display the last part.

In [6]:
names1881[['sex']].tail()

    sex
cwg   M
cwh   M
cwi   M
cwj   M
cwk   M

A vectorized Boolean test, returning a DataFrame that has one column, a column of Booleans.

In [8]:
print type(names1881[['sex']]=='F')
names1881[['sex']]=='F'

<class 'pandas.core.frame.DataFrame'>

       sex
aaa   True
aab   True
aac   True
aad   True
aae   True
aaf   True
aag   True
aah   True
aai   True
aaj   True
aak   True
aal   True
aam   True
aan   True
aao   True
aap   True
aaq   True
aar   True
aas   True
aat   True
aau   True
aav   True
aaw   True
aax   True
aay   True
aaz   True
aba   True
abb   True
abc   True
abd   True
..     ...
cvh  False
cvi  False
cvj  False
cvk  False
cvl  False
cvm  False
cvn  False
cvo  False
cvp  False
cvq  False
cvr  False
cvs  False
cvt  False
cvu  False
cvv  False
cvw  False
cvx  False
cvy  False
cvz  False
cwa  False
cwb  False
cwc  False
cwd  False
cwe  False
cwf  False
cwg  False
cwh  False
cwi  False
cwj  False
cwk  False

[1935 rows x 1 columns]

You can pick out a subdata frame with only two columns.

In [9]:
print type(names1881[['sex','births']])
names1881[['sex','births']]

<class 'pandas.core.frame.DataFrame'>

    sex  births
aaa   F    6919
aab   F    2698
aac   F    2034
aad   F    1852
aae   F    1658
aaf   F    1653
aag   F    1439
aah   F    1326
aai   F    1324
aaj   F    1308
aak   F    1242
aal   F    1226
aam   F    1148
aan   F    1096
aao   F    1089
aap   F    1046
aaq   F    1044
aar   F     969
aas   F     962
aat   F     958
aau   F     923
aav   F     903
aaw   F     893
aax   F     791
aay   F     788
aaz   F     784
aba   F     778
abb   F     775
abc   F     754
abd   F     737
..   ..     ...
cvh   M       5
cvi   M       5
cvj   M       5
cvk   M       5
cvl   M       5
cvm   M       5
cvn   M       5
cvo   M       5
cvp   M       5
cvq   M       5
cvr   M       5
cvs   M       5
cvt   M       5
cvu   M       5
cvv   M       5
cvw   M       5
cvx   M       5
cvy   M       5
cvz   M       5
cwa   M       5
cwb   M       5
cwc   M       5
cwd   M       5
cwe   M       5
cwf   M       5
cwg   M       5
cwh   M       5
cwi   M       5
cwj   M       5
cwk   M       5

[1935 rows x 2 columns]

You can leave out one pair of square brackets to get another type of Pandas object called a Series.  A series is halfway from an array to a dataframe, basically an labeled array with one data type.  Notice the row names (or index) of the orginal data frame is preserved.

In [10]:
print type(names1881['sex'])
names1881['sex']

<class 'pandas.core.series.Series'>

aaa    F
aab    F
aac    F
aad    F
aae    F
aaf    F
aag    F
aah    F
aai    F
aaj    F
aak    F
aal    F
aam    F
aan    F
aao    F
aap    F
aaq    F
aar    F
aas    F
aat    F
aau    F
aav    F
aaw    F
aax    F
aay    F
aaz    F
aba    F
abb    F
abc    F
abd    F
      ..
cvh    M
cvi    M
cvj    M
cvk    M
cvl    M
cvm    M
cvn    M
cvo    M
cvp    M
cvq    M
cvr    M
cvs    M
cvt    M
cvu    M
cvv    M
cvw    M
cvx    M
cvy    M
cvz    M
cwa    M
cwb    M
cwc    M
cwd    M
cwe    M
cwf    M
cwg    M
cwh    M
cwi    M
cwj    M
cwk    M
Name: sex, dtype: object

You can think of a series as dictionary like, in that you retrieve data values with dictionary-like indexing.

In [11]:
names1881['sex']['cvw']

'M'

You can ALSO retrieve data by numerical index.  The order in which the data has been read in preserved.  EITHER
kind of indexing works.

In [9]:
names1881['sex'][0]

'F'

That's why a Series is referred to as an *ordered set* in the Pandas documentation.  There are no duplicate names, as with dictionary keys, but there is also ordering.

You can also create a Boolean series containing Booleans.  The following cell creates such a series and prints out the tail (the last few items in the ordering):

In [13]:
(names1881['name']=='Lee').tail()

cwg    False
cwh    False
cwi    False
cwj    False
cwk    False
Name: name, dtype: bool

Then you can use that series to create to create a much shorter sub data frame of the original data frame that has only the
rows with name *Lee*.

In [10]:
print type(names1881['name']=='Lee')
lee_rows = names1881[names1881['name']=='Lee']
print type(lee_rows)
lee_rows

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

    name sex  births
ajy  Lee   F      39
blt  Lee   M     342

So `lee_rows` is a `DataFrame` containing only the rows for people named "Lee".  Unlike a `Series` a `DataFrame` can contain multiple columns.  We used the Boolean `[name]=='Lee'` `Series` as a Boolean-condition
to create the `lee_rows` `DataFrame`:

```
lee_rows = names1881[<Boolean-Condition>]
```

In particular, the Boolean-condition was:

```
lee_rows = names1881[names1881['name']=='Lee']
```

and using a Boolean Series to specify a Boolean condition is one very powerful technique for picking out a sub-`DataFrame` of a `DataFrame`.

This example also shows why we couldn't use the `name` column to index the data.  There are names that occur in two rows, because they are both male and female names.

You can also pick out a sub data frame with just the female names. We do that and print out the tail to show we've got a `female_rows` `DataFrame` with about half the data of the original `DataFrame`.

In [ ]:
print type(names1881['sex']=='F')
female_rows = names1881[names1881['sex']=='F']
print type(female_rows)
female_rows.tail()

In [ ]:
female_rows.head()

In [ ]:
female_rows.info()

In [ ]:
names1881.info()

## Aggregation

In [ ]:
names1881['births'].sum()

This command summed all the the male and female name counts
for the year 1881.
So much for the year 1881.  Now let's look
at the other years, each of which is stored in its own file,
to see how combining Python's IO capabilities
with some panda data frame building tools,
provides a useful view of the data::

In [1]:
import pandas as pd
years = range(1880,2011)
pieces = []
columns = ['name','sex','births']
    
for year in years:
    path = 'names/yob{0:d}.txt'.format(year)
    frame = pd.read_csv(path,names=columns)
    frame['year'] = year
    pieces.append(frame)    
    
names = pd.concat(pieces, ignore_index=True)

Think about why it's hard to build the list `pieces` with a list comprehension instead of  the way it's done in the above cell.
Notice the following doesn't work.  Python requires an expression
as the first component of a list comprehension.  One reason for this is that list comprehensions are supposed to improve readability.  Complex sequences of commands don't do that, and the `for`-loop above is much more understandable.

```
pieces = [f=pd.read_csv('names/yob{0:d}.txt'.format(year),names=columns);
          f['year']=year; f
          for year in years]
```

In [ ]:
names.head()

In [ ]:
names.tail()

In [2]:
total_births = names.pivot_table('births','year', 
                                 columns='sex', aggfunc=sum)

This uses the `names` `DataFrame` to create a new `DataFrame` which aggregates the data by year and sex, summing the values of the `births` column in `names` for each year and sex.

In [ ]:
total_births.tail()

In [ ]:
type(total_births)

## Bar plots

Note that all the cells in this section contain the `plt.show` command. 
For this to work I **didn't** start ipython notebook with the `--pylab` option,
and I didn't use `%matplotlib inline`.  In  this mode, `plot` just computes a layout.
If you have been using `%matplotlib inline` or the `--pylab` option, and want to continue,
just comment  `plt.show()` below.

In [15]:
import pandas as pd
names2000 = pd.read_csv('names/yob2000.txt',names=['name','sex','births'])
names2000[:10].plot(kind='bar')

In [16]:
from matplotlib import pyplot as plt
plt.show()

This is okay, but the bars are labeled with row numbers, since the row number is
the default way of indexing rows. The easiest way to fix this is to do it when we read in the data.

In [17]:
import pandas as pd
import matplotlib.pylab as plt
names2000 = pd.read_csv('names/yob2000.txt',names=['name','sex','births'],index_col='name')
ax = names2000[:10].plot(kind='bar')
plt.show()

Again, ok,  but the labels are a little smushed.  Let's try rotating them a little.  Customizing plots ultimately requires knowing a bit `matplotlib`, the module that supplies all the plots that `pandas` can do.  The key point in understanding the code below is that the `plot` command returns something called an `axis` (roughly, one coordinate grid on which one or plots can be displayed.  An axis has `tick` labels for both the `x` and `y` direction,
and tehse ar eobjects that have a `set_rotation` method::

In [18]:
import pandas as pd
import matplotlib.pylab as plt
names2000 = pd.read_csv('names/yob2000.txt',names=['name','sex','births'],index_col='name')
# Note that the plot command returns the axis.  This is critical for getting
# at all kinds of fine tuning tools, as we're about to see.
ax = names2000[:10].plot(kind='bar')
# For this to work I DIDNT start ipython notebook with the --pylab option.
# This means the figure doesnt display until AFTER we give the plt.show() command.
labels = ax.get_xticklabels()
for label in labels:
    label.set_rotation(30)
plt.show()

The easiest way to learn how to customize is to read the Documentation for the `plot` method on the `DataFrame` class, which can be gotten at via any `DataFrame` instance as follows:

In [ ]:
print names2000.plot.__doc__

## Other Plotting

All data frames have a `plot` method, which will work quite intuitively for pivot table data frames.

In the cell below, the `plt.show` command is commented out.  Try it if you want to see the plot displayed in a separate window. Be warned that that won't work until you comment out `%matplotlib inline` and restart the notebook (which means you'll have to redefine `total_births`).

In [3]:
%matplotlib inline
from matplotlib import pyplot as plt
ax = total_births.plot(title='Total births by year') 
#plt.show()

In [ ]:
total_births

## Alternative plotting script

In the cell below, the `plt.show` command is used.  This displays the plot in a separate window. Be warned that if you've been usinmg `matplotlib inline` that won't work until you comment out `%matplotlib inline` and restart the notebook (which means you'll have to redefine `total_births`).

The above graph is great and often what we want is just to take a quick look at the relationships in the data, and a data frame plot will do exactly the right thing with no customization.  It's helpful to know that `pandas` is using a Python packagge called `matplotlib` to draw the graph above, and we can do the same ourselves, with a lot more lines of code, but also with a lot more customization.

In [4]:
import matplotlib.pyplot as plt
fig = plt.figure(1,figsize=(8,8))
ax1 = fig.add_subplot(111)
fig.subplots_adjust(top=0.9,left=0.2)
ax1.set_ylabel('births')

ax1.set_xlabel('year')
(p1,) = ax1.plot(total_births.index,total_births.F,color='pink',label='F')
(p2, ) = ax1.plot(total_births.index,total_births.M,color='blue',label='M')
ax1.set_title('Total births by sex and year')
    
ax1.legend((p2,p1),('M','F'),loc='upper left',title='sex')
plt.show()

## Pandas cheat sheet

The following cheat sheet is taken from  http://www.swegler.com/becky/

List unique values in a DataFrame column

In [11]:
df = names1881

In [4]:
pd.unique(df.sex.ravel())

array(['F', 'M'], dtype=object)

In [12]:
name_set = pd.unique(df.name.ravel())

In [13]:
len(name_set)

1830

Convert Series datatype to numeric, getting rid of any non-numeric values

In [ ]:
df['col'] = df['col'].astype(str).convert_objects(convert_numeric=True)

Grab DataFrame rows where column has certain values

In [6]:
value_list = ['Lee', 'Mary', 'William']
df = df[df.name.isin(value_list)]

In [7]:
df

         name sex  births
0        Mary   F    6919
258       Lee   F      39
288   William   F      30
939   William   M    8524
981       Lee   M     342
1238     Mary   M      29

Grab DataFrame rows where column doesn't have certain values

In [22]:
valuelist2 = set(name_set).difference(value_list)
df2 = df[~df.name.isin(valuelist2)]

In [23]:
df2

         name sex  births
0        Mary   F    6919
258       Lee   F      39
288   William   F      30
939   William   M    8524
981       Lee   M     342
1238     Mary   M      29

Delete column from DataFrame

In [ ]:
del df['column']

Select from DataFrame using criteria from multiple columns

In [ ]:
newdf = df[(df['column_one']>2004) & (df['column_two']==9)]

Rename several DataFrame columns

In [ ]:
df = df.rename(columns = {
    'col1 old name':'col1 new name',
    'col2 old name':'col2 new name',
    'col3 old name':'col3 new name',
})

lower-case all DataFrame column names

In [ ]:
df.columns = map(str.lower, df.columns)

Even more fancy DataFrame column re-naming.

In [ ]:
df.rename(columns=lambda x: x.split('.')[-1], inplace=True)

Loop through rows in a DataFrame (if you must)

In [ ]:
for index, row in df.iterrows():
    print index, row['some column']

Lower-case everything in a DataFrame column

In [ ]:
df.column_name = df.column_name.str.lower()

Sort dataframe by multiple columns

In [ ]:
df = df.sort(['col1','col2','col3'],ascending=[1,1,0])

Get top n for each group of columns in a sorted dataframe (make sure dataframe is sorted first).

In [ ]:
top5 = df.groupby(['groupingcol1', 'groupingcol2']).head(5)

Grab DataFrame rows where specific column is null/notnull

In [ ]:
newdf = df[df['column'].isnull()]
len(newdf)

Select from DataFrame using multiple keys of a hierarchical index

In [ ]:
df.xs(('index level 1 value','index level 2 value'), level=('level 1','level 2'))

Change all NaNs to None (useful before loading to a db)

In [ ]:
df = df.where((pd.notnull(df)), None)

Slice values in a DataFrame column (aka Series)

In [ ]:
df.column.str[0:2]

Get quick count of rows in a DataFrame

In [ ]:
len(df.index)

Pivot data (with flexibility about what what becomes a column and what stays a row). Syntax works on Pandas >= .14

In [ ]:
pd.pivot_table(
  df,values='cell_value',
  index=['col1', 'col2', 'col3'], #these stay as columns
  columns=['col4']) #data values in this column become their own column

Change data type of DataFrame column

In [ ]:
df.column_name = df.column_name.astype(np.int64)

Get rid of non-numeric values throughout a DataFrame:

In [ ]:
for col in refunds.columns.values:
  refunds[col] = refunds[col].replace('[^0-9]+.-', '', regex=True)

Set DataFrame column values based on other column values

In [ ]:
df['column_to_change'][(df['column1'] == some_value) & (df['column2'] == some_other_value)] = new_value

Clean up missing values in multiple DataFrame columns

In [ ]:
df = df.fillna({
    'col1': 'missing',
    'col2': '99.999',
    'col3': '999',
    'col4': 'missing',
    'col5': 'missing',
    'col6': '99'
})

Concatenate two DataFrame columns into a new, single column (useful when dealing with composite keys, for example)

In [ ]:
df['newcol'] = df['col1'].map(str) + df['col2'].map(str)

Doing calculations with DataFrame columns that have missing values. 
In example below, swap in 0 for df['col1'] cells that contain null

In [ ]:
df['new_col'] = np.where(pd.isnull(df['col1']),0,df['col1']) + df['col2']

Split delimited values in a DataFrame column into two new columns

In [ ]:
df['new_col1'], df['new_col2'] = zip(*df['original_col'].apply(lambda x: x.split(': ', 1)))

Collapse hierarchical column indexes

In [ ]:
df.columns = df.columns.get_level_values(0)

Convert Django queryset to DataFrame

In [ ]:
qs = DjangoModelName.objects.all()
q = qs.values()
df = pd.DataFrame.from_records(q)

Create a DataFrame from a Python dictionary

In [ ]:
df = pd.DataFrame(list(a_dictionary.items()), columns = ['column1', 'column2'])