## Numpy assignment

## 1 Preliminaries

In [ ]:
# The usual preamble
import numpy as np

## Numpy

In [ ]:
import numpy as np
x = np.array([2,3,1,0])
y =np.arange(8)
z = 5 + x

What is the value of `y`?

What is the value of `z`

Write expressions in the next cell to retrieve 3 from `x`, 7 from `y`, and 5 from `z`.

In the next cell, write an expression that generates a 3 by 4 array filled with zeros.

<style>
    @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
    }
    div.cell{
        width:800px;
        margin-left:16% !important;
        margin-right:auto;
    }
    h1 {
        font-family: Helvetica, serif;
    }
    h4{
        margin-top:12px;
        margin-bottom: 3px;
       }
    div.text_cell_render{
        font-family: Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        line-height: 145%;
        font-size: 130%;
        width:800px;
        margin-left:auto;
        margin-right:auto;
    }
    .CodeMirror{
            font-family: "Source Code Pro", source-code-pro,Consolas, monospace;
    }
    .text_cell_render h5 {
        font-weight: 300;
        font-size: 22pt;
        color: #4057A1;
        font-style: italic;
        margin-bottom: .5em;
        margin-top: 0.5em;
        display: block;
    }
    
    .warning{
        color: rgb( 240, 20, 20 )
        }

In the next cell write an expression that produces an array containing result of multiplying 7 by each of the first 12 integers (1 - 12). There's a hard way to do this and an easy way.  The easy way uses elementwise operations.

## 2D arrays

In [ ]:
import numpy as np
room_matrix = \
np.array(
[[2,  3, 3, 1],
[5,  3, 3, 2],
[8,  3, 6, 2],
[5,  1, 3, 1],
[10, 4, 7, 2]])

In the next cell write an express that retrieves the last row of `room_matrix`.

In the next cell, write an expression that retrieves the third column of `room_matrix`.

In the next cell write an expression that retrieves the first two elements of the second column of `room_matrix`

In the next cell write an expression that retrieves the following submatrix from `room_matrix`:

```
array([[3,3],
       [3,3]])
```

In the next cell, write an expression that returns a Boolean array that **identifies** the members of `room_matrix` which are equal  to 2.  Hint: Call the correct answer to this question `ans`. `ans` will return an array with shape `5x4`.  `ans[i,j] == True` if and only if `room_matrix[i,j] == 2`.

In the next cell, write an expression that uses `ans`, the Boolean
array you created in the last problem, to return the members of
`room_matrix` that are equal to 2. Hint:  There are four members of `room_matrix` that are equal to 2.  The correct answer to this question returns a `1D` array of length 4.

The code below defines two arrays. The first array represents some data for a small set of individuals. It represents their ages and income in thousands of dollars. The first column is age and the second is income. The second array represents the clubs the same individuals belong to. There are three possible clubs, 0, 1, AND 2. So for example the individual represented in the second row of age_data belongs to club 1, because club[1] is 1.

In [1]:
import numpy as np
age_income_data = np.array([[47,57.2],[22,63.1],[14,88.1],[20,97.5],[39,56.8],[35,22.4],[31,32.1],[28,110.3]])
club = np.array([0,1,0,1,0,0,2,2])

Here is what the `age_income_data` looks like:

In [2]:
age_income_data

array([[ 47. ,  57.2],
       [ 22. ,  63.1],
       [ 14. ,  88.1],
       [ 20. ,  97.5],
       [ 39. ,  56.8],
       [ 35. ,  22.4],
       [ 31. ,  32.1],
       [ 28. , 110.3]])

In the next line, write an expression that computes all the rows of `age_income_data` representing individuals whose club is `0`.   Use a Boolean mask.

In the next cell, write a line of code that computes all the rows of `age_income_data` representing individuals whose age is over 30.  Use a Boolean mask.